@font-face {
    font-family: Anton;
    src: url(../Fuentes/Anton-Regular.ttf) format('truetype');
}



#tituloenvios{
    height: 20px;
    display:flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding:5px;
    width:100%;
    
    
}
header h1 a{
    font-size: 15px;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center; 
    color: #A6A2A2; 
    font-family: Anton;
}



#contenedorlogo{
    display:flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 180px;
    width:180px;
    border-radius : 30px;
    
}

#navegador{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:25px;
    width:100%;
    padding:5px;
    font-family: Anton;
    
    
}
#navegador ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navegador li{
    flex: shrink 0;
    margin:0 10px;
}

nav a{
    text-decoration: none;
    color:#A6A2A2;
}



#contenido{
    background-image: url(../Multimedia/Fotos/relacionados/atardecercaboGata.jpg);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    font-family: Anton;
    font-size: 6px;
    color:#dddddd;
}
#fondofooter{
    display:flex;
    justify-content:space-between;
    background-color: black;
    height: 80px; 
    padding:5px;
    width:100%;
}

#tablacategorias{
    display:flex;
    justify-content: right;
}

#tablapoliticas{
    display:flex;
    justify-content: center;
    align-items: center;
}

#creditos{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width:100%;
    height: 10px;
    padding:5px;
}

table a {
    color:#dddddd;
    text-decoration: underline;

}
#tablarrss img{
    width: 50px;
    height:50px;
}



h2{
    text-align: center;
}

table a {
    color:#dddddd;
    text-decoration: underline;

}