@font-face {
    font-family: Anton;
    src: url(../Fuentes/Anton-Regular.ttf) format('truetype');
}



#tituloenvios{
    height: 20px;
    display:flex;
    justify-content: center;
    background-color: black;
    align-items: center;
   
    padding:5px;
    width:100%;
    
    
}
header h1 a{
    font-size: 15px;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center; 
    color: #A6A2A2; 
    font-family: Anton;
}



#contenedorlogo{
    display:flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 180px;
    width:180px;
    border-radius : 30px;
    
}

#navegador{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:25px;
    width:100%;
    padding:5px;
    font-family: Anton;
    
    
}
#navegador ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding:0 10px;
}

#navegador li{
    justify-content: space-between;
    flex: shrink 0;
    margin:0 10px;
}

nav a{
    text-decoration: none;
    color:#A6A2A2;
}

#navegador li a:hover {
    background-color: white;
    }
    
footer {
    font-family: Anton;
    font-size: 6px;
    color:#dddddd;
}
#fondofooter{
    display:flex;
    justify-content:space-between;
    background-color: black;
    height: 80px; 
    padding:5px;
    width:100%;
}

#tablacategorias{
    display:flex;
    justify-content: right;
}

#tablapoliticas{
    display:flex;
    justify-content: center;
    align-items: center;
}

#creditos{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width:100%;
    height: 10px;
    padding:5px;
}

table a {
    color:#dddddd;
    text-decoration: underline;

}

#tablarrss img{
    width: 50px;
    height:50px;
}


.catalogo table{
    width:100%;
    border-collapse: collapse;
    text-align: center;
}
.catalogo th{
    width:200%;
}


.row-impar {
    display:flex;
    justify-content:right;
    
}
.row-par {
    display:flex;
    justify-content: right;
}
.row-impar td, .row-par td {
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;
}
.catalogo img{
    width:100%;
    height:100%;
}
th{
    font-family: Anton;
    font-size: 30px;
}